a {
    text-decoration: none;
}
body {
    font-family: "Work Sans";
    background: #dedede;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 46px;
    margin-bottom: 0;
}

h3 {
    color: #1ECEFD;
}

#contact {
    color: #777;
    font-size: 18px;
}

figure, #editForm {
    max-width: 600px;
    border-radius: 15px;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0px 0px 10px 0px rgba(204,204,204,1);
    background: #efefef;
}

figure a {
    display: flex;
}


figure div {
    height: 400px;
    background: url(4x6.jpg);
    background-size: cover;
    background-position: center;
}

figcaption, #editForm {
    padding: 20px;
}

figure button, #editForm button {
    padding: 15px;
    margin: 0 15px 25px 15px;
    border-radius: 20px;
    background:#505355;
    color: #eee;
    font-size: 20px;
    width: 100%;
    cursor: pointer;
}

form {
    display: grid;
}


form input {
    width: 100%;
    padding: 14px;
    border-radius: 20px;
    box-sizing : border-box; /* an important property to remember when styling inputs */
    border: 1px solid #505355;   
}



label {
    overflow: hidden;
}

#editForm a {
    display: flex;
    margin-top: 25px;
}

#update {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

textarea:focus, input:focus, button:focus{
    outline: none;
}

button:hover, #update:hover {
    background: #5BECD8;
}

p{
    word-wrap: break-word;
}